src/wsdl/localhost_8080/wsecms/wsecmsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.ws/" name="wsecmsService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.ws/" schemaLocation="http://localhost:8080/wsecms/wsecmsService?xsd=1" />
</xsd:schema>
</types>
<message name="main">
<part name="parameters" element="tns:main" />
</message>
<message name="mainResponse">
<part name="parameters" element="tns:mainResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="version2.0.1">
<part name="parameters" element="tns:version2.0.1" />
</message>
<message name="version2.0.1Response">
<part name="parameters" element="tns:version2.0.1Response" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="GetOrganizationService">
<part name="parameters" element="tns:GetOrganizationService" />
</message>
<message name="GetOrganizationServiceResponse">
<part name="parameters" element="tns:GetOrganizationServiceResponse" />
</message>
<message name="GetMinistryService">
<part name="parameters" element="tns:GetMinistryService" />
</message>
<message name="GetMinistryServiceResponse">
<part name="parameters" element="tns:GetMinistryServiceResponse" />
</message>
<message name="GetLetterDataService">
<part name="parameters" element="tns:GetLetterDataService" />
</message>
<message name="GetLetterDataServiceResponse">
<part name="parameters" element="tns:GetLetterDataServiceResponse" />
</message>
<message name="GetMimeCodeService">
<part name="parameters" element="tns:GetMimeCodeService" />
</message>
<message name="GetMimeCodeServiceResponse">
<part name="parameters" element="tns:GetMimeCodeServiceResponse" />
</message>
<message name="GetError">
<part name="parameters" element="tns:GetError" />
</message>
<message name="GetErrorResponse">
<part name="parameters" element="tns:GetErrorResponse" />
</message>
<message name="SendLetterService">
<part name="parameters" element="tns:SendLetterService" />
</message>
<message name="SendLetterServiceResponse">
<part name="parameters" element="tns:SendLetterServiceResponse" />
</message>
<message name="GetSpeedService">
<part name="parameters" element="tns:GetSpeedService" />
</message>
<message name="GetSpeedServiceResponse">
<part name="parameters" element="tns:GetSpeedServiceResponse" />
</message>
<message name="OtherLetterService">
<part name="parameters" element="tns:OtherLetterService" />
</message>
<message name="OtherLetterServiceResponse">
<part name="parameters" element="tns:OtherLetterServiceResponse" />
</message>
<message name="ReceiveLetterService">
<part name="parameters" element="tns:ReceiveLetterService" />
</message>
<message name="ReceiveLetterServiceResponse">
<part name="parameters" element="tns:ReceiveLetterServiceResponse" />
</message>
<message name="GetValinTagNameService2">
<part name="parameters" element="tns:GetValinTagNameService2" />
</message>
<message name="GetValinTagNameService2Response">
<part name="parameters" element="tns:GetValinTagNameService2Response" />
</message>
<message name="GetSecretService">
<part name="parameters" element="tns:GetSecretService" />
</message>
<message name="GetSecretServiceResponse">
<part name="parameters" element="tns:GetSecretServiceResponse" />
</message>
<message name="GetOtherLetterDataService">
<part name="parameters" element="tns:GetOtherLetterDataService" />
</message>
<message name="GetOtherLetterDataServiceResponse">
<part name="parameters" element="tns:GetOtherLetterDataServiceResponse" />
</message>
<portType name="wsecmsService">
<operation name="main">
<input wsam:Action="http://service.ws/wsecmsService/mainRequest" message="tns:main" />
<output wsam:Action="http://service.ws/wsecmsService/mainResponse" message="tns:mainResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/main/Fault/Exception" />
</operation>
<operation name="version2.0.1">
<input wsam:Action="http://service.ws/wsecmsService/version2.0.1Request" message="tns:version2.0.1" />
<output wsam:Action="http://service.ws/wsecmsService/version2.0.1Response" message="tns:version2.0.1Response" />
</operation>
<operation name="hello">
<input wsam:Action="http://service.ws/wsecmsService/helloRequest" message="tns:hello" />
<output wsam:Action="http://service.ws/wsecmsService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="GetOrganizationService">
<input wsam:Action="http://service.ws/wsecmsService/GetOrganizationServiceRequest" message="tns:GetOrganizationService" />
<output wsam:Action="http://service.ws/wsecmsService/GetOrganizationServiceResponse" message="tns:GetOrganizationServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetOrganizationService/Fault/Exception" />
</operation>
<operation name="GetMinistryService">
<input wsam:Action="http://service.ws/wsecmsService/GetMinistryServiceRequest" message="tns:GetMinistryService" />
<output wsam:Action="http://service.ws/wsecmsService/GetMinistryServiceResponse" message="tns:GetMinistryServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetMinistryService/Fault/Exception" />
</operation>
<operation name="GetLetterDataService">
<input wsam:Action="http://service.ws/wsecmsService/GetLetterDataServiceRequest" message="tns:GetLetterDataService" />
<output wsam:Action="http://service.ws/wsecmsService/GetLetterDataServiceResponse" message="tns:GetLetterDataServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetLetterDataService/Fault/Exception" />
</operation>
<operation name="GetMimeCodeService">
<input wsam:Action="http://service.ws/wsecmsService/GetMimeCodeServiceRequest" message="tns:GetMimeCodeService" />
<output wsam:Action="http://service.ws/wsecmsService/GetMimeCodeServiceResponse" message="tns:GetMimeCodeServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetMimeCodeService/Fault/Exception" />
</operation>
<operation name="GetError">
<input wsam:Action="http://service.ws/wsecmsService/GetErrorRequest" message="tns:GetError" />
<output wsam:Action="http://service.ws/wsecmsService/GetErrorResponse" message="tns:GetErrorResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetError/Fault/Exception" />
</operation>
<operation name="SendLetterService">
<input wsam:Action="http://service.ws/wsecmsService/SendLetterServiceRequest" message="tns:SendLetterService" />
<output wsam:Action="http://service.ws/wsecmsService/SendLetterServiceResponse" message="tns:SendLetterServiceResponse" />
</operation>
<operation name="GetSpeedService">
<input wsam:Action="http://service.ws/wsecmsService/GetSpeedServiceRequest" message="tns:GetSpeedService" />
<output wsam:Action="http://service.ws/wsecmsService/GetSpeedServiceResponse" message="tns:GetSpeedServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetSpeedService/Fault/Exception" />
</operation>
<operation name="OtherLetterService">
<input wsam:Action="http://service.ws/wsecmsService/OtherLetterServiceRequest" message="tns:OtherLetterService" />
<output wsam:Action="http://service.ws/wsecmsService/OtherLetterServiceResponse" message="tns:OtherLetterServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/OtherLetterService/Fault/Exception" />
</operation>
<operation name="ReceiveLetterService">
<input wsam:Action="http://service.ws/wsecmsService/ReceiveLetterServiceRequest" message="tns:ReceiveLetterService" />
<output wsam:Action="http://service.ws/wsecmsService/ReceiveLetterServiceResponse" message="tns:ReceiveLetterServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/ReceiveLetterService/Fault/Exception" />
</operation>
<operation name="GetValinTagNameService2">
<input wsam:Action="http://service.ws/wsecmsService/GetValinTagNameService2Request" message="tns:GetValinTagNameService2" />
<output wsam:Action="http://service.ws/wsecmsService/GetValinTagNameService2Response" message="tns:GetValinTagNameService2Response" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetValinTagNameService2/Fault/Exception" />
</operation>
<operation name="GetSecretService">
<input wsam:Action="http://service.ws/wsecmsService/GetSecretServiceRequest" message="tns:GetSecretService" />
<output wsam:Action="http://service.ws/wsecmsService/GetSecretServiceResponse" message="tns:GetSecretServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetSecretService/Fault/Exception" />
</operation>
<operation name="GetOtherLetterDataService">
<input wsam:Action="http://service.ws/wsecmsService/GetOtherLetterDataServiceRequest" message="tns:GetOtherLetterDataService" />
<output wsam:Action="http://service.ws/wsecmsService/GetOtherLetterDataServiceResponse" message="tns:GetOtherLetterDataServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.ws/wsecmsService/GetOtherLetterDataService/Fault/Exception" />
</operation>
</portType>
<binding name="wsecmsServicePortBinding" type="tns:wsecmsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="main">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="version2.0.1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetOrganizationService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="GetMinistryService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="GetLetterDataService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="GetMimeCodeService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="GetError">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="SendLetterService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetSpeedService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="OtherLetterService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="ReceiveLetterService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="GetValinTagNameService2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="GetSecretService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="GetOtherLetterDataService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="wsecmsService">
<port name="wsecmsServicePort" binding="tns:wsecmsServicePortBinding">
<soap:address location="http://localhost:8080/wsecms/wsecmsService" />
</port>
</service>
</definitions>